name: Maven Package CI

on:
  push:
  pull_request:
  release:
    types: [published, edited]
  workflow_dispatch:
    inputs:
      version:
        description: dummy
        default: dummy

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: check java versions installed
      run: |
           echo $JAVA_HOME||echo "NO ERR"
           type -a java

    - name: build_maven_deps
      run: |
           pwd
           ls -al
           sudo bash -c "cd /home/runner/work/ranzodium/ranzodium/.localrun/; ./run_docker.sh build"

    - name: build_maven_pkg
      run: |
           pwd
           ls -al .localrun/
           sudo bash -c "cd /home/runner/work/ranzodium/ranzodium/.localrun/; ./run_docker.sh"

    - name: acls_maven_pkg
      run: |
           sudo chmod -R a+rx /home/runner/work/ranzodium/ranzodium/.localrun/artefacts/
           sudo ls -al /home/runner/work/ranzodium/ranzodium/.localrun/artefacts/
           sudo bash -c 'cp -av /home/runner/work/ranzodium/ranzodium/.localrun/artefacts/*.zip /home/runner/work/'

    - name: upload apk
      uses: actions/upload-artifact@v4
      with:
        name: local_maven_ranzodium_jni.zip
        path: /home/runner/work/*.zip

